<div class="footer">
  <div class="container">
    <div class="d-flex justify-content-center pt-5">
      <%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/v1656730861/Zinma2.0/Zinma_blanco_1_tv0iru.svg" %>
    </div>
    <div class="d-flex justify-content-center align-items-center align-content-center">
        <%= link_to "Home", root_path, class:"footerhover text-white text-decoration-none" %>
        <%= link_to "Productos", products_alfalfa_path, class:"footerhover text-white text-decoration-none" %>
        <%= link_to "Nosotros", pages_aboutus_path, class:"footerhover text-white text-decoration-none" %>
        <%= link_to "Contacto", pages_contact_path, class:"footerhover text-white text-decoration-none" %>
    </div>

    <div class="d-flex justify-content-center align-items-center align-content-center m-4">
      <div class="icon-circule">
        <%= link_to do%>
          <%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/v1660398080/Zinma2.0/ant-design_instagram-filled_opccx8.svg", class:"icon-redes" %>
        <% end %>
      </div>
      <div class="icon-circule">
        <%= link_to do %>
          <%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/v1660398080/Zinma2.0/akar-icons_twitter-fill_mxllgj.svg", class:"icon-redes" %>
        <% end %>
      </div>
      <div class="icon-circule">
        <%= link_to do %>
          <%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/v1660398080/Zinma2.0/akar-icons_linkedin-fill_wb6l9y.svg", class:"icon-redes" %>
        <% end %>
      </div>
    </div>

    <div class="d-flex justify-content-center border-bottom pb-4">
      <%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/v1656281732/Zinma2.0/CSBC-sello-socio-01_1_cxdl7j.png", style:"width:50px;" %>
    </div>

    <div class="d-flex justify-content-center p-4">
      <p class="text-white zinma-foot">2021 Zinma Seeds Company, Inc.</p>
    </div>
  </div>
</div>
