<div>
  <h1 class="title-products mb-5"><%= t 'nuestros-productos' %></h1>
  <div class="text-center d-flex justify-content-evenly align-items-center">

    <div class="menu">
      <div>
        <a href="#0" >
          <span class="img-22">
            <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655854873/Zinma2.0/a7aa0db5818c1cf1d06fe7b6e5b265c3_m5hob1.jpg", class:"alfa")%>
            <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655855223/Zinma2.0/alfalfa1_jasmms.png", class:"alf-bolsa") %>
          </span>
          <span class="img-33">
            <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655855223/Zinma2.0/alfalfa1_jasmms.png", class:"alfa-bolsa2") %>
            <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655854873/Zinma2.0/a7aa0db5818c1cf1d06fe7b6e5b265c3_m5hob1.jpg", class:"alfa2")%>
              <h2 >Alfalfa</h2>
              <div class="bton d-flex justify-content-center align-items-center mt-5">
                <p  class="boton2 mx-3 m-2"><%= t 'conoce-pro' %></p>
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="18" viewBox="0 0 48 18" fill="none">
                  <path d="M0 9.99997H43.586L37.293 16.293L38.707 17.707L47.414 8.99997L38.707 0.292969L37.293 1.70697L43.586 7.99997H0V9.99997Z" fill="#A58F73"/>
                </svg>
              </div>
          </span>
        </a>
      </div>
    </div>

    <div class="menu">
      <div>
        <a href="#0" >
          <span class="img-22">
            <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655854873/Zinma2.0/a7aa0db5818c1cf1d06fe7b6e5b265c3_m5hob1.jpg", class:"alfa")%>
            <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655855223/Zinma2.0/sorgos1_x7rfbq.png", class:"alf-bolsa") %>
          </span>
          <span class="img-33">
            <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655855223/Zinma2.0/sorgos1_x7rfbq.png", class:"alfa-bolsa2") %>
            <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655854873/Zinma2.0/a7aa0db5818c1cf1d06fe7b6e5b265c3_m5hob1.jpg", class:"alfa2")%>
              <h2>Sorgo</h2>
              <div class="bton d-flex justify-content-center align-items-center mt-5">
                <p  class="boton2 mx-3 m-2"><%= t 'conoce-pro' %></p>
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="18" viewBox="0 0 48 18" fill="none">
                  <path d="M0 9.99997H43.586L37.293 16.293L38.707 17.707L47.414 8.99997L38.707 0.292969L37.293 1.70697L43.586 7.99997H0V9.99997Z" fill="#A58F73"/>
                </svg>
              </div>
          </span>
        </a>
      </div>
    </div>



    <div class="menu">
      <div>
        <a href="#0" >
          <span class="img-22">
            <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655854873/Zinma2.0/a7aa0db5818c1cf1d06fe7b6e5b265c3_m5hob1.jpg", class:"alfa")%>
            <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655855223/Zinma2.0/pasturas1_uip9yj.png", class:"alf-bolsa") %>
          </span>
          <span class="img-33">
            <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655855223/Zinma2.0/pasturas1_uip9yj.png", class:"alfa-bolsa2") %>
            <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655854873/Zinma2.0/a7aa0db5818c1cf1d06fe7b6e5b265c3_m5hob1.jpg", class:"alfa2")%>
              <h2 >Pasturas</h2>
              <div class="bton d-flex justify-content-center align-items-center mt-5">
                <p  class="boton2 mx-3 m-2"><%= t 'conoce-pro' %></p>
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="18" viewBox="0 0 48 18" fill="none">
                  <path d="M0 9.99997H43.586L37.293 16.293L38.707 17.707L47.414 8.99997L38.707 0.292969L37.293 1.70697L43.586 7.99997H0V9.99997Z" fill="#A58F73"/>
                </svg>
              </div>
          </span>
        </a>
      </div>
    </div>

    <div class="menu">
      <div>
        <a href="#0" >
          <span class="img-22">
            <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655854873/Zinma2.0/a7aa0db5818c1cf1d06fe7b6e5b265c3_m5hob1.jpg", class:"alfa")%>
            <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655855223/Zinma2.0/cultivo-de-servicio1_uknlor.png", class:"alf-bolsa") %>
          </span>
          <span class="img-33">
            <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655855223/Zinma2.0/cultivo-de-servicio1_uknlor.png", class:"alfa-bolsa2") %>
            <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655854873/Zinma2.0/a7aa0db5818c1cf1d06fe7b6e5b265c3_m5hob1.jpg", class:"alfa2")%>
            <div class="">
              <h2 style="left: 53px;">Cultivo de Servicio</h2>
            </div>
              <div class="bton d-flex justify-content-center align-items-center mt-5">
                <p  class="boton2 mx-3 m-2"><%= t 'conoce-pro' %></p>
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="18" viewBox="0 0 48 18" fill="none">
                  <path d="M0 9.99997H43.586L37.293 16.293L38.707 17.707L47.414 8.99997L38.707 0.292969L37.293 1.70697L43.586 7.99997H0V9.99997Z" fill="#A58F73"/>
                </svg>
              </div>
          </span>
        </a>
      </div>
    </div>

  </div>
  <div class="d-flex justify-content-center align-items-center mt-5" style="margin-bottom: 90px;">
    <%= link_to t('conoce'), "#", class:"boton2 mx-3" %>
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="18" viewBox="0 0 48 18" fill="none">
      <path d="M0 9.99997H43.586L37.293 16.293L38.707 17.707L47.414 8.99997L38.707 0.292969L37.293 1.70697L43.586 7.99997H0V9.99997Z" fill="#A58F73"/>
    </svg>
  </div>
</div>
