<nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
  <div class="container d-flex justify-content-between align-items-center flex-md-space-between ">
      <div>
      <%= link_to root_path do%>
        <%= image_tag("https://storage.googleapis.com/zinmaimages/Zinma_full_color_ymgqie_1_1_xgboiv.webp", style:"width:80px;height:80px") %>
      <% end %>
      </div>

      <div class="d-flex justify-content-between align-items-center down-navbar">
        <div class="collapse navbar-collapse justify-content-around" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active px-4">
                  <%= link_to "Home", root_path, class:"nav-letter nav2-link" %>
                </li>
                <li class="nav-item px-4">
                  <%= link_to t('productos'), products_alfalfa_path, class:"nav-letter nav2-link" %>
                </li>
                <li class="nav-item px-4">
                  <%= link_to t('nosotros'), pages_aboutus_path, class:"nav-letter nav2-link" %>
                </li>
                <li class="nav-item px-4">
                  <%= link_to t('contacto'), pages_contact_path, class:"nav-letter nav2-link" %>
                </li>
                <li class="d-flex d-lg-none px-4">
                  <%= link_to root_path(locale: :es), class:"nav-letter" do %>
                    <p class="m-0">es</p>
                  <% end %>
                  <p class="nav-letter m-0"> / </p>
                  <%= link_to root_path(locale: :en), class:"nav-letter" do %>
                    <p class="m-0">en</p>
                  <% end %>
                </li>
              </ul>
        </div>
      </div>

      <div class="selector" data-controller="language">
          <div class="selectField" data-action="click->language#toggle">
              <% if I18n.locale == :en %>
                  <span ><%= image_tag("https://storage.googleapis.com/zinmaimages/emojione_flag-for-united-states_magqgf.svg") %></span>
                 <% elsif  I18n.locale == :es %>
                  <span ><%= image_tag("https://storage.googleapis.com/zinmaimages/emojione_flag-for-argentina_zapp7v.svg") %></span>
                <% else %>
                  <span ><%= image_tag("https://storage.googleapis.com/zinmaimages/emojione_flag-for-argentina_zapp7v.svg") %></span>
              <% end %>

              <div id="selectText" ><%= image_tag("https://storage.googleapis.com/zinmaimages/chevron_iv5t58.png") %></div>
          </div>

          <ul class="list hide" data-language-target="element">
            <li class="options show active" >
              <%= link_to root_path(locale: :es) do %>
                <%= image_tag("https://storage.googleapis.com/zinmaimages/emojione_flag-for-argentina_zapp7v.svg") %>
              <% end %>
            </li>
            <li class="options" >
              <%= link_to root_path(locale: :en) do %>
                <%= image_tag("https://storage.googleapis.com/zinmaimages/emojione_flag-for-united-states_magqgf.svg") %>
              <% end %>
            </li>
          </ul>
      </div>

      <div class="burger">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
  </div>
</nav>
