<div class=" navbar">
  <div class="container d-flex justify-content-between align-items-center ">
    <%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/v1656730797/Zinma2.0/Zinma_full_color_1_foraz2.svg" %>

    <div class="d-flex justify-content-between align-items-center", style="width: 38%;">
      <%= link_to "Home", root_path, class:"nav-letter nav2-link" %>
      <%= link_to "Productos", products_alfalfa_path, class:"nav-letter nav2-link" %>
      <%= link_to "Nosotros", pages_aboutus_path, class:"nav-letter nav2-link" %>
      <%= link_to "Contacto", "#", class:"nav-letter nav2-link" %>
    </div>



      <div class="selector" data-controller="language">


        <div class="selectField" data-action="click->language#toggle">
            <% if root_path(locale: :en)  %>
               <span ><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1656442590/Zinma2.0/emojione_flag-for-united-states_magqgf.svg") %></span>
            <% elsif root_path(locale: :es) %>
               <span ><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1656442838/Zinma2.0/emojione_flag-for-argentina_zapp7v.svg") %></span>
            <% end %>

            <p id="selectText" ><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1656445824/Zinma2.0/Vector_lcaew7.svg") %></p>
        </div>

        <ul class="list hide" data-language-target="element">
          <li class="options show active" >
            <%= link_to root_path(locale: :es) do %>
              <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1656442838/Zinma2.0/emojione_flag-for-argentina_zapp7v.svg") %>
            <% end %>
          </li>

          <li class="options" >
            <%= link_to root_path(locale: :en) do %>
              <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1656442590/Zinma2.0/emojione_flag-for-united-states_magqgf.svg") %>
            <% end %>
          </li>
        </ul>
      </div>





  </div>
</div>
