<div class=" navbar">
  <div class="container d-flex justify-content-between align-items-center ">
    <%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/v1655679816/Zinma2.0/logoZINMA_s3qa55.png", class:"logo" %>

    <div class="d-flex justify-content-between align-items-center", style="width: 38%;">
      <%= link_to "Home","#", class:"nav-letter nav2-link" %>
      <%= link_to "Productos","#", class:"nav-letter nav2-link" %>
      <%= link_to "Nosotros","#", class:"nav-letter nav2-link" %>
      <%= link_to "Contacto","#", class:"nav-letter nav2-link" %>
    </div>

    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M27 3.7125C24.3563 2.08125 21.3188 1.125 18 1.125V3.7125H27Z" fill="#ED4C5C"/>
      <path d="M18 6.29999H30.15C29.1937 5.34374 28.125 4.44374 27 3.71249H18V6.29999Z" fill="white"/>
      <path d="M18 8.88749H32.2312C31.6125 7.93124 30.9375 7.08749 30.2063 6.29999H18V8.88749Z" fill="#ED4C5C"/>
      <path d="M18 11.475H33.5813C33.1875 10.575 32.7375 9.67501 32.2312 8.88751H18V11.475Z" fill="white"/>
      <path d="M18 14.0625H34.425C34.2 13.1625 33.9188 12.3188 33.5813 11.475H18V14.0625Z" fill="#ED4C5C"/>
      <path d="M18 16.7062H34.8188C34.7625 15.8062 34.5938 14.9625 34.425 14.1187H18V16.7062" fill="white"/>
      <path d="M34.8188 16.7062H18V18H1.125C1.125 18.45 1.125 18.8437 1.18125 19.2937H34.8188C34.875 18.8437 34.875 18.45 34.875 18C34.875 17.55 34.875 17.1 34.8188 16.7062" fill="#ED4C5C"/>
      <path d="M1.57539 21.8813H34.4254C34.6504 21.0375 34.7629 20.1938 34.8191 19.2938H1.18164C1.23789 20.1375 1.35039 21.0375 1.57539 21.8813Z" fill="white"/>
      <path d="M2.41797 24.4688H33.5805C33.918 23.625 34.1992 22.7813 34.4242 21.8813H1.57422C1.79922 22.7813 2.08047 23.625 2.41797 24.4688Z" fill="#ED4C5C"/>
      <path d="M3.76797 27.0562H32.2305C32.7367 26.2125 33.1867 25.3688 33.5805 24.4688H2.41797C2.81172 25.3688 3.26172 26.2125 3.76797 27.0562" fill="white"/>
      <path d="M5.79453 29.6437H30.207C30.9383 28.8562 31.6695 27.9562 32.232 27.0562H3.76953C4.33203 28.0125 5.06328 28.8562 5.79453 29.6437Z" fill="#ED4C5C"/>
      <path d="M8.94297 32.2312H27.0555C28.2367 31.5 29.2492 30.6 30.2055 29.6437H5.79297C6.74922 30.6562 7.81797 31.5 8.94297 32.2312Z" fill="white"/>
      <path d="M17.9996 34.875C21.3184 34.875 24.4121 33.9188 27.0559 32.2313H8.94336C11.5871 33.9188 14.6809 34.875 17.9996 34.875Z" fill="#ED4C5C"/>
      <path d="M9 3.7125C7.81875 4.44375 6.75 5.34375 5.79375 6.3C5.00625 7.0875 4.33125 7.9875 3.76875 8.8875C3.2625 9.73125 2.75625 10.575 2.41875 11.475C2.08125 12.3187 1.8 13.1625 1.575 14.0625C1.35 14.9062 1.2375 15.75 1.18125 16.65C1.125 17.1 1.125 17.55 1.125 18H18V1.125C14.6812 1.125 11.6437 2.08125 9 3.7125Z" fill="#428BC1"/>
      <path d="M14.0621 1.6875L14.3434 2.53125H15.1871L14.5121 3.09375L14.7371 3.9375L14.0621 3.43125L13.3871 3.9375L13.6121 3.09375L12.9371 2.53125H13.7809L14.0621 1.6875ZM16.3121 5.0625L16.5934 5.90625H17.4371L16.7621 6.46875L16.9871 7.3125L16.3121 6.80625L15.6371 7.3125L15.8621 6.46875L15.1871 5.90625H16.0309L16.3121 5.0625ZM11.8121 5.0625L12.0934 5.90625H12.9371L12.2621 6.46875L12.4871 7.3125L11.8121 6.80625L11.1371 7.3125L11.3621 6.46875L10.6871 5.90625H11.5309L11.8121 5.0625ZM14.0621 8.4375L14.3434 9.28125H15.1871L14.5121 9.84375L14.7371 10.6875L14.0621 10.1813L13.3871 10.6875L13.6121 9.84375L12.9371 9.28125H13.7809L14.0621 8.4375ZM9.56211 8.4375L9.84336 9.28125H10.6871L10.0121 9.84375L10.2371 10.6875L9.56211 10.1813L8.88711 10.6875L9.11211 9.84375L8.43711 9.28125H9.28086L9.56211 8.4375ZM5.06211 8.4375L5.34336 9.28125H6.18711L5.51211 9.84375L5.73711 10.6875L5.06211 10.1813L4.38711 10.6875L4.61211 9.84375L3.93711 9.28125H4.78086L5.06211 8.4375ZM16.3121 11.8125L16.5934 12.6562H17.4371L16.7621 13.2188L16.9871 14.0625L16.3121 13.5563L15.6371 14.0625L15.8621 13.2188L15.1871 12.6562H16.0309L16.3121 11.8125ZM11.8121 11.8125L12.0934 12.6562H12.9371L12.2621 13.2188L12.4871 14.0625L11.8121 13.5563L11.1371 14.0625L11.3621 13.2188L10.6871 12.6562H11.5309L11.8121 11.8125ZM7.31211 11.8125L7.59336 12.6562H8.43711L7.76211 13.2188L7.98711 14.0625L7.31211 13.5563L6.63711 14.0625L6.86211 13.2188L6.18711 12.6562H7.03086L7.31211 11.8125ZM14.0621 15.1875L14.3434 16.0312H15.1871L14.5121 16.5938L14.7371 17.4375L14.0621 16.9313L13.3871 17.4375L13.6121 16.5938L12.9371 16.0312H13.7809L14.0621 15.1875ZM9.56211 15.1875L9.84336 16.0312H10.6871L10.0121 16.5938L10.2371 17.4375L9.56211 16.9313L8.88711 17.4375L9.11211 16.5938L8.43711 16.0312H9.28086L9.56211 15.1875ZM5.06211 15.1875L5.34336 16.0312H6.18711L5.51211 16.5938L5.73711 17.4375L5.06211 16.9313L4.38711 17.4375L4.61211 16.5938L3.93711 16.0312H4.78086L5.06211 15.1875ZM6.63711 7.3125L7.31211 6.80625L7.98711 7.3125L7.70586 6.46875L8.38086 5.90625H7.53711L7.31211 5.0625L7.03086 5.90625H6.24336L6.91836 6.4125L6.63711 7.3125V7.3125ZM2.13711 14.0625L2.81211 13.5563L3.48711 14.0625L3.20586 13.2188L3.88086 12.6562H3.09336L2.81211 11.8125L2.53086 12.6562H1.96836C1.96836 12.7125 1.91211 12.7687 1.91211 12.825L2.36211 13.1625L2.13711 14.0625" fill="white"/>
    </svg>

      <%= link_to "Español", root_path(locale: :es) %>
      <%= link_to "English", root_path(locale: :en) %>

  </div>
</div>
