<div class="nosotros-banner">
  <h1><%= t 'nosotros-title' %></h1>
</div>

<div class="intro">
  <div class="row">
    <div class="col-6 p-5">
      <h1 class="quienes-title p-5"><%= t 'quienes-somos' %></h1>
      <p class="quienes-descr"><%= t 'quienes-descr' %></p>
      <p class="quienes-descr"><%= t 'quienes-descr2' %></p>
      <br>
      <button type="button" class="boton m-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <%=  t('boton') %>
      </button>
      <%= render 'shared/modal' %>
    </div>

    <div class="col-6">
      <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1656731954/Zinma2.0/DSC06465_1_jqxtb7.png", style:"padding-top: 39px; padding-left: 50px;") %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-6 mb-5" style="margin-top: 10%;">
      <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1656731954/Zinma2.0/DSC06784_1_h0t6mh.png") %>
    </div>

    <div class="col-6 p-5" style="margin-top: 10%;">
      <h1 class="title-obj"><%= t 'title-objetivos' %></h1>
      <p class="descr-obj"><%= t 'descr-objetivos' %></p>
      <br>
      <%= link_to t('boton'), "#", class:"boton m-5" %>
    </div>
  </div>
</div>
