<div class="nosotros-banner">
  <h1><%= t 'nosotros-title' %></h1>
</div>

<div class="introx">
  <div class="row">
    <div class="col p-5">
      <h1 class="quienes-title "><%= t 'quienes-somos' %></h1>
      <p class="quienes-descr"><%= t 'quienes-descr' %></p>
      <p class="quienes-descr"><%= t 'quienes-descr2' %></p>
      <br>
      <button type="button" class="boton m-3 mx-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <%=  t('boton') %>
      </button>
      <%= render 'shared/modal' %>
    </div>

    <div class="col">
      <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1656731954/Zinma2.0/DSC06465_1_jqxtb7.png", class:"foto-about") %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col mb-5 tuu" style="margin-top: 10%;">
      <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/f_auto/v1656731954/Zinma2.0/DSC06784_1_h0t6mh.png", class:"analisis-img") %>
    </div>

    <div class="col  toc p-5" style="">
      <h1 class="title-obj"><%= t 'title-objetivos' %></h1>
      <p class="descr-obj"><%= t 'descr-objetivos' %></p>
      <br>
      <button type="button" class="boton m-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <%=  t('boton') %>
      </button>
    </div>
  </div>
</div>
