<div class="nosotros-banner">
  <h1><%= t 'nosotros-title' %></h1>
</div>

<div class="intro">
  <div class="row">
    <div class="col-6 p-5">
      <h1 class="quienes-title p-5"><%= t 'quienes-somos' %></h1>
      <p class="quienes-descr"><%= t 'quienes-descr' %></p>
      <p class="quienes-descr"><%= t 'quienes-descr2' %></p>
      <br>
      <%= link_to t('boton'), "#", class:"boton m-5" %>
    </div>

    <div class="col-6">
      <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1656731954/Zinma2.0/DSC06465_1_jqxtb7.png", style:"padding-top: 39px; padding-left: 50px;") %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-6">
      <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1656731954/Zinma2.0/DSC06784_1_h0t6mh.png") %>
    </div>

    <div class="col-6">
      <h1>Nuestros objetivos</h1>
      <p>Buscamos ser referentes en la produccion de semillas no tradicionales como forrajeras, alfalfa y cultivos de servicios. Hacemos foco en ser un empresa sustentable y rentable en el tiempo.
Invertimos en nuevas tecnologías de maquinaria y procesos de plantas, para mejorar los procesos de gestión.</p>
    </div>
  </div>
</div>
