<div class="contact-banner">
  <h1><%= t 'contact-title' %></h1>
</div>


<div class="container">
  <div class="row mt-5 f-flex justify-content-evenly align-items-center">
    <div class="col-3">
      <h3 class="contact-zinma">Zinma Seeds Argentina</h3>
      <hr class="contact-palo">
      <div class="d-flex flex-column">
        <div class="d-flex">
          <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1656624428/Zinma2.0/Group_231_uli39h.svg", style:"width:48px; margin-bottom: 20px;") %>
          <p class="p-3 contact-info">(+549) 2477 466 190 <br>
              (+549) 2477 690 970</p>
        </div>
        <div class="d-flex">
          <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1656624428/Zinma2.0/Group_229_rirrz0.svg", style:"width:48px; margin-bottom: 20px;") %>
          <p class="p-3 contact-info">Ruta 32-km 111 (2700) Pergamino,<br>
            Buenos Aires, Argentina.</p>
        </div>
        <div class="d-flex">
          <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1656624428/Zinma2.0/Group_230_txkqmk.svg", style:"width:48px; margin-bottom: 20px;") %>
          <p class="p-3 contact-info">Martin Zingoni <br> info@zinmaseeds.com</p>
        </div>
      </div>
    </div>

    <div class="col-1">
      <h1 class="espaciador"></h1>
    </div>

    <div class="col-3">
      <h3 class="contact-zinma">Zinma Seeds Usa</h3>
      <hr class="contact-palo">
      <div class="d-flex flex-column">
        <div class="d-flex">
          <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1656624428/Zinma2.0/Group_231_uli39h.svg", style:"width:48px; margin-bottom: 20px;") %>
          <p class="p-3 contact-info">916-834-7560</p>
        </div>
        <div class="d-flex">
          <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1656624428/Zinma2.0/Group_229_rirrz0.svg", style:"width:48px; margin-bottom: 20px;") %>
          <p class="p-3 contact-info">4908 S Hayford Rd, Spokane, <br>
              WA 99224, USA</p>
        </div>
        <div class="d-flex">
          <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1656624428/Zinma2.0/Group_230_txkqmk.svg", style:"width:48px; margin-bottom: 20px;") %>
          <p class="p-3 contact-info">Dan Gardner <br>
              dgardner@zinmaseeds.com <br>
              info@zinmaseeds.com</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="intro">
  <div class="row">
    <div class="col-6 p-5">
      <h1 class="contact-form p-5"><%= t 'contactanos' %></h1>
      <div>


      </div>
    </div>

    <div class="col-6">
      <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1656623949/Zinma2.0/DSC06665_1_dlppyp.png") %>
    </div>
  </div>
</div>
