<%= render 'shared/carrousel' %>
<div class="intro">
  <div class="container">
      <div class="row">
      <div class="col-12 col-md-12">
          <h1 class="title-zinma">ZINMA SEEDS</h1>
          <div class="col-sm-12 col-lg-5 " data-aos="fade-up">
            <p class="description-zinma" ><%= t 'description' %></p>
          </div>
          <div class="boton-div">
            <%= link_to t('boton'), pages_contact_path, class:"boton" %>
          </div>
        </div>
        <%# <div class="">
           <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658274271/Zinma2.0/Arrow116_nyrqms.svg", class:"arrow") %>
           <%# <p class="pro-primer">Productos de primera calidad</p>
        </div> %>
    </div>
  </div>

  <%# <div data-controller="loader">
    <div class="lds-dual-ring loader" data-loader-target="loading" data-action="load@window->loader#load"></div>
  </div> %>
</div>
  <div data-controller="loader">
    <div class="loaders" >
      <div class="loader-tadpole ">
        <img src="https://res.cloudinary.com/ddlmgs04n/image/upload/v1674590356/Zinma2.0/Zinma_full_color_ymgqie_1_1_xgboiv.webp" alt="Italian Trulli" style="width:100px;margin:0px;">
      </div>
    </div>
  </div>

  <%= render 'shared/video' %>

  <%= render 'shared/home-products' %>



  <%= render 'shared/ensayo' %>

<div class="intro3">
  <div class="d-flex align-items-center justify-content-between" style="padding-top: 7%;">
    <div class="mx-5 toc">
      <h1 class="donde-title"><%= t 'donde-estamos' %></h1>
      <p class="donde-desc"><%= t 'desc-donde' %></p>
      <div class="mt-5">
        <%= link_to t('boton2-home'), "#", class:"boton btn-boton" %>
      </div>
      <div class="d-flex" style="position: relative;left: 72%;">
        <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658346362/Zinma2.0/Arrow17_x6uwd0.svg", class:"flechas") %>
      </div>
        <p class="pro-primer m-4" data-aos="fade-up"
        data-aos-duration="3000"><%= t('donde-frase') %></p>
    </div>
    <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1673620275/Zinma2.0/DJI_0863_1_qymoix_iyvndr.webp", class:"plantas") %>
  </div>

</div>

<div class="intro-mapa">
  <div class="container mapardo">
    <%= render 'shared/map' %>
  </div>
</div>
