<%= render 'shared/carrousel' %>

<div class="intro">
  <div class="container">
    <h1 class="title-zinma">ZINMA SEEDS</h1>
    <div class="col-5">
      <p class="description-zinma"><%= t 'description' %></p>
    </div>
    <%= link_to t('boton'), "#", class:"boton" %>
  </div>

  <div>
    <%# <%= video_tag "truffle1.mp4", :size => "320x240", :controls => true %>
  </div>
</div>

  <%= render 'shared/home-products' %>



  <%= render 'shared/ensayo' %>

<div class="intro">
  <div class="d-flex align-items-center justify-content-between" style="padding-top: 7%;">
    <div class="mx-5">
      <h1 class="donde-title"><%= t 'donde-estamos' %></h1>
      <p class="donde-desc"><%= t 'desc-donde' %></p>
      <div class="mt-5">
        <%= link_to t('boton2-home'), "#", class:"boton" %>
      </div>
    </div>
    <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1656040157/Zinma2.0/DJI_0863_1_qymoix.png") %>
  </div>

</div>

<div class="intro" style="height: 753px;">
  <div class="container">
    <%= render 'shared/map' %>
  </div>
</div>
