<div class="product-banner">
  <h1><%= t 'product-title' %></h1>
</div>

<div class="container container-sm m-sm-5">
  <div class="d-flex">
    <ul class=" d-flex list-inline">
      <li><h2 class="font-select"><%= link_to t('Alfalfa'), "#", class:"font-select2" %></h2></li>
      <li><h2 class="font"><%= link_to t('Sorgo'), products_sorgo_path, class:"font2"  %></h2></li>
      <li><h2 class="font"><%= link_to t('Pasturas'), products_pasturas_path, class:"font2" %></h2></li>
      <li><h2 class="font"><%= link_to t('Cultivos'), products_cultivos_path, class:"font2" %></h2></li>
    </ul>
  </div>



  <div class="container" data-controller="infopanel" data-infopanel-index="0">
        <div class="row">
            <div class="col-7">
                <div class="d-flex flex-row">
                    <a href="#" class="categoria active2" data-action="click->infopanel#show" data-target="infopanel.item">ALL</a>
                    <li class="list-inline"><h5 class="espaciador"></h5></li>
                    <a href="#" class="categoria" data-action="click->infopanel#show" data-target="infopanel.item">GL6</a>
                    <li class="list-inline"><h5 class="espaciador"></h5></li>
                    <a href="#" class="categoria" data-action="click->infopanel#show" data-target="infopanel.item">GL7</a>
                    <li class="list-inline"><h5 class="espaciador"></h5></li>
                    <a href="#" class="categoria" data-action="click->infopanel#show" data-target="infopanel.item">GL8</a>
                    <li class="list-inline"><h5 class="espaciador"></h5></li>
                    <a href="#" class="categoria" data-action="click->infopanel#show" data-target="infopanel.item">GL9</a>
                </div>
            </div>
          </div>
            <div class="row">
                <div class="col-7">
                    <div class="tab-pane fade show active grid-card list-inline list-group" role="tabpanel" data-target="infopanel.content">
                      <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#HYBRIFORCE" >HYBRIFORCE 3600</button></li>
                      <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#ALPHATEC621">ALPHATEC 621</button></li>
                      <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#MAGNA790">MAGNA 790</button></li>
                      <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#MAGNA868">MAGNA 868</button></li>
                      <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#ALPHATEC821">ALPHATEC 821</button></li>
                      <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#MAGNA995">MAGNA 995</button></li>
                      <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#ALPHATEC921">ALPHATEC 921</button></li>
                    </div>
                    <div class="tab-pane fade grid-card list-inline" role="tabpanel" data-target="infopanel.content">
                      <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#HYBRIFORCE">HYBRIFORCE 3600</button></li>
                      <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#ALPHATEC621">ALPHATEC 621</button></li>
                    </div>
                    <div class="tab-pane fade grid-card list-inline" role="tabpanel" data-target="infopanel.content">
                      <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#MAGNA790">MAGNA 790</button></li>
                    </div>
                    <div class="tab-pane fade grid-card list-inline" role="tabpanel" data-target="infopanel.content">
                      <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#ALPHATEC821">ALPHATEC 821</button></li>
                      <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#MAGNA868">MAGNA 868</button></li>
                    </div>
                    <div class="tab-pane fade grid-card list-inline" role="tabpanel" data-target="infopanel.content">
                      <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#MAGNA995">MAGNA 995</button></li>
                      <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#ALPHATEC921">ALPHATEC 921</button></li>
                    </div>
                </div>
                <div class="col-5s d-flex">
                  <div class="espaciador2"></div>
                  <div class="tab-content accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-collapse collapse show" aria-expanded="false" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" id="HYBRIFORCE">
                      <h1 class="font-pro" style="font-size: 35px;">HYBRIFORCE 3600</h1>
                      <p class="desc-pro2"><%= t'HYBRIFORCE' %></p>
                      <div class="m-5">
                        <%= link_to "https://storage.googleapis.com/zinmaseeds/Alfalfa/Alfalfa_HybriForce%203600_c.pdf", target:"_blank", class:"btn-ficha" do %>
                          <p class="m-0 mx-1"><%= t'ficha' %></p>
                          <p class="m-0 mx-1"><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658257615/Zinma2.0/Vector-1_w6xmqf.svg") %></p>
                        <% end %>
                      </div>
                      </div>
                    <div class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" id="ALPHATEC621">
                      <h1 class="font-pro" style="font-size: 35px;">ALPHATEC 621</h1>
                      <p class="desc-pro2"><%= t'ALPHATEC621' %></p>
                      <div class="m-5">
                        <%= link_to "https://storage.googleapis.com/zinmaseeds/Alfalfa/Alfalfa_alphatec%20621_c.pdf", target:"_blank", class:"btn-ficha" do %>
                          <p class="m-0 mx-1"><%= t'ficha' %></p>
                          <p class="m-0 mx-1"><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658257615/Zinma2.0/Vector-1_w6xmqf.svg") %></p>
                        <% end %>
                      </div>
                    </div>
                    <div class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" id="MAGNA790">
                      <h1 class="font-pro" style="font-size: 35px;">MAGNA 790</h1>
                      <p class="desc-pro2"><%= t'MAGNA790' %></p>
                      <div class="m-5">
                        <%= link_to "https://storage.googleapis.com/zinmaseeds/Alfalfa/Alfalfa_Magna%20790_c.pdf", target:"_blank", class:"btn-ficha" do %>
                          <p class="m-0 mx-1"><%= t'ficha' %></p>
                          <p class="m-0 mx-1"><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658257615/Zinma2.0/Vector-1_w6xmqf.svg") %></p>
                        <% end %>
                       </div>
                    </div>
                    <div class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" id="MAGNA868">
                      <h1 class="font-pro" style="font-size: 35px;">MAGNA 868</h1>
                      <p class="desc-pro2"><%= t'MAGNA868' %></p>
                       <div class="m-5">
                        <%= link_to "https://storage.googleapis.com/zinmaseeds/Alfalfa/Alfalfa_Magna%20868_c.pdf", target:"_blank", class:"btn-ficha" do %>
                          <p class="m-0 mx-1"><%= t'ficha' %></p>
                          <p class="m-0 mx-1"><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658257615/Zinma2.0/Vector-1_w6xmqf.svg") %></p>
                        <% end %>
                       </div>
                    </div>
                    <div class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" id="ALPHATEC821">
                      <h1 class="font-pro" style="font-size: 35px;">ALPHATEC 821</h1>
                      <p class="desc-pro2"><%= t'ALPHATEC821' %></p>
                       <div class="m-5">
                        <%= link_to "https://storage.googleapis.com/zinmaseeds/Alfalfa/Alfalfa_AlphaTec%20821_c.pdf", target:"_blank", class:"btn-ficha" do %>
                          <p class="m-0 mx-1"><%= t'ficha' %></p>
                          <p class="m-0 mx-1"><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658257615/Zinma2.0/Vector-1_w6xmqf.svg") %></p>
                        <% end %>
                       </div>
                    </div>
                    <div class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" id="MAGNA995">
                      <h1 class="font-pro" style="font-size: 35px;">MAGNA 995</h1>
                      <p class="desc-pro2"><%= t'MAGNA995' %></p>
                       <div class="m-5">
                        <%= link_to "https://storage.googleapis.com/zinmaseeds/Alfalfa/Alfalfa_Magna%20995_c.pdf", target:"_blank",class:"btn-ficha" do %>
                          <p class="m-0 mx-1"><%= t'ficha' %></p>
                          <p class="m-0 mx-1"><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658257615/Zinma2.0/Vector-1_w6xmqf.svg") %></p>
                        <% end %>
                       </div>
                    </div>
                    <div class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" id="ALPHATEC921">
                      <h1 class="font-pro" style="font-size: 35px;">ALPHATEC 921</h1>
                      <p class="desc-pro2"><%= t'ALPHATEC921' %></p>
                       <div class="m-5">
                        <%= link_to "https://storage.googleapis.com/zinmaseeds/Alfalfa/Alfalfa_AlphaTec%20921_c.pdf", target:"_blank",class:"btn-ficha" do %>
                          <p class="m-0 mx-1"><%= t'ficha' %></p>
                          <p class="m-0 mx-1"><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658257615/Zinma2.0/Vector-1_w6xmqf.svg") %></p>
                        <% end %>
                       </div>
                    </div>
                 </div>
                </div>
             </div>
  </div>
</div>


<div class="intro mt-5" style="height: 696px;">
  <div class="container">
    <div class="d-flex justify-content-center flex-column align-items-center p-5 products-zinmas" >
      <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1657911981/Zinma2.0/sorgo_1_qpsrr0.png", class:"position-absolute opacity-50") %>
      <h1 class="font-pro m-4"><%= t'alfalfa' %></h1>
      <p class="desc-pro m-4"><%= t('description-alfalfa') %></p>
    </div>
      <div class="d-flex justify-content-center" style="position: relative;">
        <p class="pro-primer"><%= t'primera-calida' %></p>
        <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1657911134/Zinma2.0/Arrow_16_futvng.svg", class:"flechas-pro") %>
        <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655855223/Zinma2.0/alfalfa1_jasmms.png",  class:"bolsa") %>
        <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1657911030/Zinma2.0/Arrow_17_udmr0w.svg", class:"flechas-pro") %>
        <p class="pro-rend"><%= t'rendimiento-com' %></p>
      </div>
  </div>
</div>

<%= render 'shared/ensayo' %>
