<div class="product-banner">
  <h1><%= t 'product-title' %></h1>
</div>

<div class="container container-sm m-sm-5">
  <div class="d-flex">
    <ul class=" d-flex list-inline">
      <li><h2 class="font"><%= link_to t('Alfalfa'), products_alfalfa_path, class:"font2" %></h2></li>
      <li><h2 class="font"><%= link_to t('Sorgo'), products_sorgo_path, class:"font2"%></h2></li>
      <li><h2 class="font-select"><%= link_to t('Pasturas'), products_pasturas_path, class:"font-select2" %></h2></li>
      <li><h2 class="font"><%= link_to t('Cultivos'), products_cultivos_path, class:"font2" %></h2></li>
    </ul>
   </div>
</div>


<div class="container">
  <div class="row container">
      <div class="col-7">
      <div class="grid-card list-inline">
          <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#FESTUCA">FESTUCA</button></li>
          <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#CEBADILLA">CEBADILLA</button></li>
          <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#AGROPIRO">AGROPIRO</button></li>
          <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#RYEGRASS">RYE GRASS Talero</button></li>
          <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#RYEGRASS-ala">RYE GRASS Alazán</button></li>
      </div>
      </div>
      <div class="col-5s d-flex">
          <div class="espaciador2"></div>
            <div class="tab-content accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-collapse collapse show" aria-expanded="true" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" id="FESTUCA">
                <h1 class="font-pro" style="font-size: 35px;">FESTUCA</h1>
                <p class="desc-pro2"><%= t'FESTUCA' %></p>
                <div class="m-5">
                  <%= link_to "https://storage.googleapis.com/pasturas/Pasturas_Festuca%20BALERO%CC%81N_c.pdf", target:"_blank", class:"btn-ficha" do %>
                    <p class="m-0 mx-1"><%= t'ficha' %></p>
                    <p class="m-0 mx-1"><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658257615/Zinma2.0/Vector-1_w6xmqf.svg") %></p>
                  <% end %>
                </div>
              </div>
              <div class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" id="CEBADILLA">
                <h1 class="font-pro" style="font-size: 35px;">CEBADILLA</h1>
                <p class="desc-pro2"><%= t'CEBADILLA' %></p>
                <div class="m-5">
                  <%= link_to "https://storage.googleapis.com/pasturas/Pasturas_Cebadilla%20Criolla%20TABA_c.pdf", target:"_blank", class:"btn-ficha" do %>
                    <p class="m-0 mx-1"><%= t'ficha' %></p>
                    <p class="m-0 mx-1"><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658257615/Zinma2.0/Vector-1_w6xmqf.svg") %></p>
                  <% end %>
                </div>
              </div>
              <div class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" id="AGROPIRO">
                <h1 class="font-pro" style="font-size: 35px;">AGROPIRO</h1>
                <p class="desc-pro2"><%= t'AGROPIRO' %></p>
                <div class="m-5">
                  <%= link_to "https://storage.googleapis.com/pasturas/Pasturas_Agropiro%20HE%CC%81RCULES_c.pdf", target:"_blank", class:"btn-ficha" do %>
                    <p class="m-0 mx-1"><%= t'ficha' %></p>
                    <p class="m-0 mx-1"><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658257615/Zinma2.0/Vector-1_w6xmqf.svg") %></p>
                  <% end %>
                </div>
              </div>
              <div class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" id="RYEGRASS">
                <h1 class="font-pro" style="font-size: 35px;">RYE GRASS Talero</h1>
                <p class="desc-pro2"></p>
                <div class="m-5">
                  <%= link_to "https://storage.googleapis.com/pasturas/Pasturas_Raigra%CC%81s%20TALERO.pdf", target:"_blank", class:"btn-ficha" do %>
                    <p class="m-0 mx-1"><%= t'ficha' %></p>
                    <p class="m-0 mx-1"><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658257615/Zinma2.0/Vector-1_w6xmqf.svg") %></p>
                  <% end %>
                </div>
              </div>
              <div class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" id="RYEGRASS-ala">
                <h1 class="font-pro" style="font-size: 35px;">RYE GRASS Alazán</h1>
                <p class="desc-pro2"></p>
                <div class="m-5">
                  <%= link_to "https://storage.googleapis.com/pasturas/Pasturas_Raigra%CC%81sALAZA%CC%81N.pdf", target:"_blank", class:"btn-ficha" do %>
                    <p class="m-0 mx-1"><%= t'ficha' %></p>
                    <p class="m-0 mx-1"><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658257615/Zinma2.0/Vector-1_w6xmqf.svg") %></p>
                  <% end %>
                </div>
              </div>
            </div>
      </div>
  </div>
</div>

<div class="intro mt-5" style="height: 696px;">
  <div class="container">
    <div class="d-flex justify-content-center flex-column align-items-center p-5 products-zinmas" >
      <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1657911981/Zinma2.0/sorgo_1_qpsrr0.png", class:"position-absolute opacity-50") %>
      <h1 class="font-pro m-4"><%= t'pasturas' %></h1>
      <p class="desc-pro m-4"><%= t'description-pasturas' %></p>
    </div>
      <div class="d-flex justify-content-center" style="position: relative;">
        <p class="pro-primer"><%= t'primera-calida' %></p>
        <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1657911134/Zinma2.0/Arrow_16_futvng.svg", class:"flechas-pro") %>
        <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655855223/Zinma2.0/pasturas1_uip9yj.png",  class:"bolsa") %>
        <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1657911030/Zinma2.0/Arrow_17_udmr0w.svg", class:"flechas-pro") %>
        <p class="pro-rend"><%= t'rendimiento-com' %></p>
      </div>
  </div>
</div>

<%= render 'shared/ensayo' %>
