<div class="product-banner">
  <h1><%= t 'product-title' %></h1>
</div>

<div class="container container-sm m-sm-5">
  <div class="d-flex">
    <ul class=" d-flex list-inline">
      <li><h2 class="font"><%= link_to t('Alfalfa'), products_alfalfa_path, class:"font2" %></h2></li>
      <li><h2 class="font-select"><%= link_to t('Sorgo'), products_sorgo_path, class:"font-select2" %></h2></li>
      <li><h2 class="font"><%= link_to t('Pasturas'), products_pasturas_path, class:"font2" %></h2></li>
      <li><h2 class="font"><%= link_to t('Cultivos'), products_cultivos_path, class:"font2" %></h2></li>
    </ul>
   </div>
</div>


<div class="container">
  <div class="row container">
      <div class="col-7">
        <div class="grid-card list-inline">
            <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#SORGO1301">SORGO Z 1301 PPS</button></li>
            <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#SORGO1310">SORGO Z 1310 BMR PPS</button></li>
            <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#SORGO1220">SORGO Z 1220 BMR</button></li>
            <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#SORGO2491">SORGO Z 2491 DP</button></li>
            <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#SORGO3591">SORGO Granifero Z 3591 GR</button></li>
            <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#SORGO1497">SORGO F 1497 FS</button></li>
            <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#SORGO750">SORGO F 750 Plus</button></li>
            <li><button class="card-type" data-bs-toggle="collapse" data-bs-target="#FORTINFORAGE">SORGHUM FORTIN FORAGE</button></li>
        </div>
      </div>
      <div class="col-5s d-flex">
          <div class="espaciador2"></div>
            <div class="tab-content accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-collapse collapse show" aria-expanded="true" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" id="SORGO1301">
                <h1 class="font-pro" style="font-size: 35px;">SORGO Z 1301 PPS</h1>
                <p class="desc-pro2"><%= t'SORGO1301' %></p>
                <div class="m-5">
                  <%= link_to "https://storage.googleapis.com/zinmaseeds/Sorgo/Sorgo_FORRAJERO_Z1301%20PPS_c.pdf", target:"_blank",class:"btn-ficha" do %>
                    <p class="m-0 mx-1"><%= t'ficha' %></p>
                    <p class="m-0 mx-1"><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658257615/Zinma2.0/Vector-1_w6xmqf.svg") %></p>
                  <% end %>
                </div>
              </div>
              <div class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" id="SORGO1310">
                <h1 class="font-pro" style="font-size: 35px;">SORGO Z 1310 BMR PPS</h1>
                <p class="desc-pro2"><%= t'SORG01310PSS' %></p>
                <div class="m-5">
                  <%= link_to "https://storage.googleapis.com/zinmaseeds/Sorgo/Sorgo_FORRAJERO_Z%201310%20BMR%20PPS_c.pdf", target:"_blank",class:"btn-ficha" do %>
                    <p class="m-0 mx-1"><%= t'ficha' %></p>
                    <p class="m-0 mx-1"><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658257615/Zinma2.0/Vector-1_w6xmqf.svg") %></p>
                  <% end %>
                </div>
              </div>
              <div class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" id="SORGO1220">
                <h1 class="font-pro" style="font-size: 35px;">SORGO Z 1220 BMR</h1>
                <p class="desc-pro2"><%= t'SORGOZ1220' %></p>
                <div class="m-5">
                  <% if I18n.locale.to_s == 'es' %>
                    <%= link_to "https://storage.googleapis.com/zinmaseeds/Sorgo/Sorgo_FORRAJERO_Z%201220%20BMR_c.pdf", target:"_blank",class:"btn-ficha" do %>
                      <p class="m-0 mx-1"><%= t'ficha' %></p>
                      <p class="m-0 mx-1"><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658257615/Zinma2.0/Vector-1_w6xmqf.svg") %></p>
                    <% end %>
                  <% else %>
                    <%= link_to "https://storage.googleapis.com/zinmaseeds/Sorgo/Sorgo_Sorghum%20type_Z%201220%20BMR.pdf", target:"_blank", class:"btn-ficha" do %>
                      <p class="m-0 mx-1"><%= t('ficha') %></p>
                      <p class="m-0 mx-1"><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658257615/Zinma2.0/Vector-1_w6xmqf.svg") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" id="SORGO2491">
                <h1 class="font-pro" style="font-size: 35px;">SORGO Z 2491 DP</h1>
                <p class="desc-pro2"><%= t'SORGO2491' %></p>
                <div class="m-5">
                  <%= link_to "https://storage.googleapis.com/zinmaseeds/Sorgo/Sorgo_Z%202491%20DP_c.pdf", target:"_blank",class:"btn-ficha" do %>
                    <p class="m-0 mx-1"><%= t'ficha' %></p>
                    <p class="m-0 mx-1"><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658257615/Zinma2.0/Vector-1_w6xmqf.svg") %></p>
                  <% end %>
                </div>
              </div>
               <div class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" id="SORGO3591">
                <h1 class="font-pro" style="font-size: 35px;">SORGO Granifero Z 3591 GR</h1>
                <p class="desc-pro2"><%= t'SORGO3591' %></p>
                <div class="m-5">
                  <%= link_to "https://storage.googleapis.com/zinmaseeds/Sorgo/Sorgo_Z%203591%20GR%20GRANI%CC%81FERO.pdf", target:"_blank",class:"btn-ficha" do %>
                    <p class="m-0 mx-1"><%= t'ficha' %></p>
                    <p class="m-0 mx-1"><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658257615/Zinma2.0/Vector-1_w6xmqf.svg") %></p>
                  <% end %>
                </div>
              </div>
               <div class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" id="SORGO1497">
                  <h1 class="font-pro" style="font-size: 35px;">SORGO F 1497 FS</h1>
                  <p class="desc-pro2"><%= t'SORGO1497' %></p>
                  <div class="m-5">
                    <%= link_to "https://storage.googleapis.com/zinmaseeds/Sorgo/Sorgo_F%201497%20FS_c.pdf", target:"_blank",class:"btn-ficha" do %>
                      <p class="m-0 mx-1"><%= t'ficha' %></p>
                      <p class="m-0 mx-1"><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658257615/Zinma2.0/Vector-1_w6xmqf.svg") %></p>
                    <% end %>
                  </div>
               </div>
                <div class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" id="SORGO750">
                  <h1 class="font-pro" style="font-size: 35px;">SORGO F 750 Plus</h1>
                  <p class="desc-pro2"><%= t'SORGO750' %></p>
                  <div class="m-5">
                    <%= link_to "https://storage.googleapis.com/zinmaseeds/Sorgo/Sorgo_F%201497%20FS_c.pdf", target:"_blank",class:"btn-ficha" do %>
                      <p class="m-0 mx-1"><%= t'ficha' %></p>
                      <p class="m-0 mx-1"><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658257615/Zinma2.0/Vector-1_w6xmqf.svg") %></p>
                    <% end %>
                  </div>
                </div>
                <div class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" id="FORTINFORAGE">
                  <h1 class="font-pro" style="font-size: 35px;">SORGHUM FORTIN FORAGE 🇺🇸</h1>
                  <p class="desc-pro2">SORGHUM Fortin Forage</p>
                  <div class="m-5">
                    <%= link_to "https://storage.googleapis.com/zinmaseeds/Sorgo/Sorgo_Sorghum%20type_v2.pdf", target:"_blank",class:"btn-ficha" do %>
                      <p class="m-0 mx-1"><%= t'ficha' %></p>
                      <p class="m-0 mx-1"><%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658257615/Zinma2.0/Vector-1_w6xmqf.svg") %></p>
                    <% end %>
                  </div>
                </div>


            </div>
        </div>
     </div>
  </div>
</div>



<div class="intro mt-5" style="height: 696px;">
  <div class="container">
    <div class="d-flex justify-content-center flex-column align-items-center p-5 products-zinmas" >
      <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1657911981/Zinma2.0/sorgo_1_qpsrr0.png", class:"position-absolute opacity-50") %>
      <h1 class="font-pro m-4"><%= t'Sorgo' %></h1>
      <p class="desc-pro m-4"><%= t 'description-sorgo' %></p>
    </div>
      <div class="d-flex justify-content-center" style="position: relative;">
        <p class="pro-primer"><%= t'primera-calida' %></p>
        <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1657911134/Zinma2.0/Arrow_16_futvng.svg", class:"flechas-pro") %>
        <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655855223/Zinma2.0/sorgos1_x7rfbq.png",  class:"bolsa") %>
        <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1657911030/Zinma2.0/Arrow_17_udmr0w.svg", class:"flechas-pro") %>
        <p class="pro-rend"><%= t'rendimiento-com' %></p>
      </div>
  </div>
</div>

<%= render 'shared/ensayo' %>
